@import url("fonts.css");

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: var(--montserat-font);
  font-style: normal;
}
.site-header {
  min-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0 130px 0;
}
.site-logo a {
  display: block;
  font-family: var(--lobster-font);
  font-weight: 400;
  text-decoration: none;
  color: var(--color-theme);
}
.site-logo {
  margin: 0;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 480px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}
.site-navigation-item a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--main-color-text);
}
.site-navigation-item a:hover,
.site-navigation-item a:focus {
  color: var(--color-theme);
}
.section-header {
  margin: 0 0 19px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}
.section-description {
  margin: 0 0 80px 0;
  font-family: var(--lobster-font);
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: var(--second-color-text);
}
.section-services-header {
  color: var(--main-color-text);
}
.section-contacts-header {
  color: var(--light-color-text);
  padding-top: 110px;
}

.services-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}
.services-menu-item {
  flex-basis: 290px;
  text-align: center;
}
.services-menu-item::before {
  display: block;
  content: "";
  width: 73px;
  height: 73px;
  border: 3px solid var(--color-theme);
  border-radius: 50%;
  margin: 0 auto 28px auto;
  background-repeat: no-repeat;
  background-position: center;
}
.ecomerce-icon::before {
  background-image: url(images/icons/Icon-Basket.png);
}
.responsive-icon::before {
  background-image: url(images/icons/Icon-Laptop.png);
}
.security-icon::before {
  background-image: url(images/icons/Icon-Locked.png);
}
.services-menu-item-header {
  margin: 0 0 16px 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--main-color-text);
}
.services-menu-item-description {
  margin: 0;
  font-family: var(--roboto-font);
  font-size: 14px;
  font-weight: 400;
  color: var(--second-color-text);
}
.services-section {
  margin-bottom: 120px;
}
.contact-section {
  width: 1430px;
  margin: 0 auto;
  background-color: var(--main-color-text);
  background-image: url("images/MapImage.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 115px;
}
.user-data {
  display: flex;
  flex-direction: column;
}
.user-subject {
  margin-bottom: 0;
}
input,
textarea {
  font-size: 14px;
  font-weight: 700;
  color: var(--placeholder-color-text);
  text-transform: uppercase;
  padding-left: 20px;
}

input {
  min-height: 52px;
  width: 458px;
  border: 1px solid var(--border-color);
  margin-bottom: 28px;
  border-radius: 2px;
}

input::placeholder,
textarea::placeholder {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: var(--placeholder-color-text);
}

textarea {
  min-height: 213px;
  width: 458px;
  padding-top: 20px;
}
.text-area-position {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: var(--color-theme);
  font-size: 18px;
  font-weight: 700;
  color: var(--light-color-text);
  text-transform: uppercase;
  padding: 24px 46px 24px 46px;
  border-radius: 2px;
}

input:valid,
textarea:valid {
  outline: 5px solid green;
}
input:invalid,
textarea:invalid {
  outline: 2px solid var(--invalid-color);
}
